<h1>Heroes <small>Marvel y DC </small> </h1>
<hr>
<div class="card-columns">
    <div class="card h-100">
        <img src="assets/img/aquaman.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <button type="button" class="btn btn-outline-primary">Ver Mas</button>
    </div>
</div>